
{{#each products}}
<li>
    <ul>ID: {{id}} </ul>
    <ul>Title: {{title}} </ul>
    <ul>Description {{description}} </ul>
    <ul>Code: {{code}} </ul>
    <ul>Price: {{price}} </ul>
    <ul>Status: {{status}} </ul>
    <ul>Stock: {{stock}} </ul>
    <ul>Category: {{category}} </ul>
    <ul>Thumbnail: <a href="{{thumbnail}}"> {{thumbnail}}</a> </ul>
</li>
{{/each}}